h1, .h1, h2, .h2, h3, .h3{
	font-family: $headingFont;
	line-height: 1.25;
	font-weight: normal;
}
h1, .h1{
	@include font-size(20px);
	@include bp-medium {
		@include font-size(28px);	
	}
	@include bp-large {
		@include font-size(36px);	
	}
}
h2, .h2{
	
}
h3, .h3{
	
}
p{

}
a{
	&:hover{

	}
	&:active{

	}
}