/* #Typography Variables
================================================== */
$baseFont: sans-serif;
$headingFont: sans-serif;
/* #Colour Variables
================================================== */
$baseColour: #365C7B;
$royal-blue: #0069B3;

/* #Width Variables
================================================== */
$desktop: 80.000em; /* 1280 */
$tablet: 64.063em; /* 1025 */
$container: 64.063em; /* 1025*/
$mobile: 47.938em; /* 767 */